---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "À propos de moi";

const identity = {
  firstName: "Esther",
  country: "France",
  occupation: "Développeuse web",
  hobbies: ["Promenade", "musique", "voyage"],
};

const skills = ["HTML", "CSS", "JavaScript", "Astro", "Git"];
const happy = true;
const finished = true;
const goal = 3;
const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";
---
<BaseLayout pageTitle={pageTitle}>
  <style define:vars={{ skillColor, fontWeight, textCase }}>
    h1 { color: purple; font-size: 4rem; }
    .skill { color: var(--skillColor); font-weight: var(--fontWeight); text-transform: var(--textCase); }
  </style>

  <h2>... et de mon nouveau site Astro !</h2>
  <p>Je suis en train de suivre le tutoriel d'introduction d'Astro...</p>

  <p>Voici quelques faits me concernant :</p>
  <ul>
    <li>Je m'appelle {identity.firstName}.</li>
    <li>Je vis en {identity.country} et je travaille en tant que {identity.occupation}.</li>
    {identity.hobbies.length >= 2 && (
      <li>Deux de mes loisirs sont : {identity.hobbies[0]} et {identity.hobbies[1]}</li>
    )}
  </ul>
  <p>Voici mes compétences :</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  {happy && <p>Je suis heureuse d'apprendre Astro !</p>}
  {finished && <p>J'ai terminé ce tutoriel !</p>}
  {goal === 3 ? <p>Mon objectif est de terminer en 3 jours.</p> : <p>Mon objectif n'est pas de 3 jours.</p>}
</BaseLayout>
